#imgback{
    position: relative;
    background: #5C97FF;
  
     display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("../../files/images/background-binary.jpg") !important;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#divtrans
{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

#transbox p {
    margin: 5%;
    font-weight: bold;
    color: black;

}